{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Main page</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Zadania</a></li>
                <li><a href="#">Zarejestruj</a></li>
                <li><a href="#">Zaloguj</a></li>
                <li><a href="#">Nazwa użytkownika<i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
{% block content %}
    <h1>Base template</h1>
{% endblock %}
</body>
</html>